*{
    margin: 0;
    padding: 0;
}

.shape {
    position: relative;
    overflow: hidden;
    height: 730px;
  }
  
  .shape::before {
    border-radius: 75%;
    position: absolute;
    background: #24053E;
    right: -650px;
    left: -650px;
    top: -650px;
    content: '';
    bottom: 0;
  }

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-left: 165px;
    padding-right: 165px;
  }

.nav-link{
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
}

.nav-link:hover {
  color:#44FFA1;
}

.background-pattern-header-one{
    position: absolute;
    left: -125px;
    top: 135px;
}

.background-pattern-header-two{
    position: absolute;
    right: -50px;
    top: 360px;
}

.header-main-section{
    position: relative;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}

.header-main-text{
    width: 635px;
    font-size: 85px;
    color: #fff;
    text-align: center;
    font-family: "Fraunces", serif;
    padding-top: 74px;
}

.tailored-underline{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-color:#44FFA1;
}

.header-button{
    width: 200px;
    color:#24053E;
    font-size: 18px;
    font-family: "Manrope", serif;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #44FFA1;
    box-shadow: none;
    border: none;
}

.header-button:hover{
  color:#44FFA1;
  background-color: #24053E;
  border: 2px solid #44FFA1;
}

.header-phone-img img{
    position: absolute;
    width: 720px;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
}

.shape-two {
    position: relative;
    overflow: hidden;
    height: 730px;
  }

  .section-one {
    position: relative;
    z-index: -1;
    top: -90px;
  }
  
  .shape-two::before {
    border-radius: 75%;
    position: absolute;
    background: #FCF8FF;
    right: -650px;
    left: -650px;
    top: -650px;
    content: '';
    bottom: 0;
  }

  .section-one-content{
    position: relative;
    top: 300px;
    z-index: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }

  .content-box{
    width: 355px;
  }
 
  .number-container{
    display: flex;
    justify-content: center;
  }

  .content-number { 
    font-size: 24px;
    font-family: "Fraunces", serif;
    font-weight: 400;
    width: 56px;
    height: 56px;
    border: 1px solid #24053E ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

  .content-title{
    font-size: 32px;
    font-family: "Fraunces", serif;
    font-weight: 400;
    color: #24053E;
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .content-body{
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    color: #24053E;
    line-height: 32px;
  }

.section-two-inner-container {
    display: flex;
    height: 700px;
    justify-content: center;
}


  .section-two img{
    width: 477px;
    height: 477px;
  }

  .section-two-image {
    width: 477px;
    height: 477px;
  }

  .section-two-content{
    display: flex;
    width: 730px;
    height: 413px;
    flex-direction: column;
    background-color: #24053E;
    justify-content: center;
    padding-left: 65px;
    padding-right: 65px;
    gap: 25px;
    position: relative;
    top: 150px;
    left: -100px;
    margin-right: -100px;
  }

  .section-two-content h1{
    color: #fff;
    font-size: 56px;
    font-family: "Fraunces", serif;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
  }

  .section-two-content p{
    color: #fff;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    line-height: 32px;
    font-weight: 300;
    text-align: left;
  }

  .section-two-content button {
    width: 190px;
    height: 61px;
    background-color: #44FFA1;
    color: #24053E;
    font-size: 18px;
    font-weight: 700;
    box-shadow: none;
    border: none;
  }

  .section-two-content button:hover{
    color:#44FFA1;
    background-color: #24053E;
    border: 2px solid #44FFA1;
  }

  .section-two-content svg {
    width: 450px;
    position: absolute;
    bottom: -75px;
    left: 430px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
  }

/* tablet media queries */
  @media (min-width: 377px) and (max-width: 1000px) {

    nav{
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    }

    .background-pattern-header-one{
      left: -200px;
    }

    .header-main-text{
      font-size: 60px;
      width: 573px;
      padding-bottom: 30px;
    }

    .header-button{
      width: 133px;
      height: 55px;
      font-size: 16px;
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 11px;
      padding-bottom: 11px;
      
    }

    .shape {
      position: relative;
      overflow: hidden;
      height: 540px;
    }

    .background-pattern-header-one{
      top: 100px;
  }

   .background-pattern-header-two{
    top: 250px;
}

  .header-phone-img img{
    position: absolute;
    width: 514px;
    top: 430px;
}

  }