*{
    margin: 0;
    padding: 0;
}

.shape {
    position: relative;
    overflow: hidden;
    height: 730px;
  }
  
  .shape::before {
    border-radius: 75%;
    position: absolute;
    background: #24053E;
    right: -650px;
    left: -650px;
    top: -650px;
    content: '';
    bottom: 0;
  }

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-left: 165px;
    padding-right: 165px;
  }

.nav-link{
    text-decoration: underline;
    text-decoration-color: #44FFA1;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
}