*{
    margin: 0;
    padding: 0;
}

.shape {
    position: relative;
    overflow: hidden;
    height: 730px;
  }
  
  .shape::before {
    border-radius: 75%;
    position: absolute;
    background: #24053E;
    right: -650px;
    left: -650px;
    top: -650px;
    content: '';
    bottom: 0;
  }